# Database
DATABASE_URL="postgresql://user:password@localhost:5432/orders_db"

# Server Configuration
PORT=3002
NODE_ENV="development"

# CORS
CORS_ORIGIN="http://localhost:3000,http://localhost:3001,http://localhost:3002"

# Microservices
AUTH_SERVICE_URL="http://localhost:3000"
CATALOG_SERVICE_URL="http://localhost:3001"
