# Database
DATABASE_URL="postgresql://user:password@localhost:5432/catalog_db"

# Server Configuration
PORT=3001
NODE_ENV="development"

# CORS
CORS_ORIGIN="http://localhost:3000,http://localhost:3001,http://localhost:3002"

# Auth Service
AUTH_SERVICE_URL="http://localhost:3000"
